*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* Navbar */

nav{
    background:#ff5722;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
}

nav h1{
    font-size:32px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

/* Hero Section */

.hero{
    text-align:center;
    padding:120px 20px;
    background:#ffe0b2;
}

.hero h2{
    font-size:45px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    margin-bottom:30px;
}

.btn,
.hero button{
    background:#ff5722;
    color:white;
    text-decoration:none;
    padding:15px 30px;
    border:none;
    border-radius:10px;
    font-size:20px;
    cursor:pointer;
}

/* Popular Foods */

.foods{
    padding:60px;
    text-align:center;
}

.foods h2{
    margin-bottom:40px;
    font-size:35px;
}

.food-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}

.food-box{
    background:#f2f2f2;
    padding:40px;
    width:220px;
    border-radius:15px;
    font-size:25px;
    box-shadow:0px 0px 10px gray;
}

/* Restaurants */

.restaurants{
    padding:60px;
    text-align:center;
}

.restaurants h2{
    margin-bottom:40px;
    font-size:35px;
}

.restaurant-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}

.restaurant-card{
    width:250px;
    background:#f2f2f2;
    padding:30px;
    border-radius:15px;
    font-size:22px;
    text-align:center;
    box-shadow:0px 0px 10px gray;
}

/* Offers */

.offers{
    text-align:center;
    padding:60px;
}

.offers h2{
    margin-bottom:25px;
    font-size:35px;
}

.offers p{
    margin:15px 0;
    font-size:22px;
}

/* Footer */

footer{
    background:black;
    color:white;
    text-align:center;
    padding:25px;
    margin-top:50px;
}